<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/css/home.css" />
    <title>remove users</title>
</head>
<body>

    <div class="wrapper">

        <div id="title">
           <h3>  Group Users List </h3>
        </div>
 
     <div id="groupname">

     {{#each result}}
     <li> {{this.name}}<a id="edit" href="/removefromgroup/{{this.groupId}}/{{this.userId}}">Remove</a></li>
     {{/each}}

     </div>
     

    <div id="homebtn">
        <a href="/home"><button>Home</button></a>
    </div>



    </div>


</body>
</html>